@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------------MAIN------------------------*/

body {
    background-color: black;
}


a {
    color: white;
    display: block;
    padding: 0.26vw ;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

a:hover {
    color: darkgrey;
}


h1 {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    
}

h3 {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.042vw;
}

p {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

h4 {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

footer {
    position: static;
    bottom: 0;
}

 

/*------------------------NAVIGATION------------------------*/

.logolink {
    width: 120px;
    min-width: 100px;
    display: inline-block;
}

.logolink img {
    width: 100%;
    padding-left: 1.042vw;
}

.navbar {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}

.navbar .icon {
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.nav-links:hover {
    color: darkgrey;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.nav-item {
    padding-right: 0.521vw;
    margin-right: 1.042vw;
}

.nav-item a {
    display: inline-block;
    padding: 0.521vw 0.781vw;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    color: darkgrey;
}

.nav-item:hover a {
    color: darkgrey;
}

.logo img {
    width: 100%;
    vertical-align: left;
}

#nav {
    margin: 0 auto;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
}


/*------------------------HOME PAGE------------------------*/

.trailer {
    width: 100%;
    height: auto;
}


iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 37.5vw;
}

/*------------------------TEAM MEMBERS------------------------*/

.team {
    background-color: dimgrey;
    width: 80%;
    margin: 0 auto;
}

.profilepics {
    width: 25%;
    height: auto;
    margin: 1.042vw;
}

.description {
    width: 25%;
    height: auto;
    margin: 1.042vw;
}

.row {
    display: flex;
}

.col {
    width: 25%;
    height: auto;
    margin: 1.042vw;
}

.col2 {
    width: 25%;
    height: auto;
    margin: 0.104vw;
}

/*------------------------ZZZZZZZZ------------------------*/

video {
    display: block;
    position: fixed;
    top: -2vw;
    left: 15vw;
    margin: 0 auto;
    width: 70%;
    z-index: -10;
}

.titles {
    color: white;
    font-size: 2.604vw;
    text-align: center;
    padding: 1.042vw;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.profile {
    width: 10.417vw;
    padding: 1.042vw;
}

.logofooter {
    width: 10.417vw;
}

/*------------------------SERVICES------------------------*/

.services {
    width: 100%;
    height: 15.625vw;
}

@media (max-width: 600px) {
    .imagegridcol {
        flex: 1 1 100%; /* Stacks columns on smaller screens */
    }
}

.imagegridimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.26vw;
    background-color: black;
}

.imagegridrow {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40vw;
    justify-content: space-between;
    background-color: black;
}

.imagegridrow2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

.imagegridcol {
    width: 33.333%;
    height: auto;
    margin: 1.042vw;
    opacity: 0.5;
    object-fit: cover;
    flex: 1 1 200px;
    box-sizing: border-box;
}

.imagegridcol:hover {
    width: 33.333%;
    height: auto;
    margin: 1.042vw;
    opacity: 1;
}

.imagegridcol img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
    border-radius: 0.26vw;
    object-fit: cover;
}

.imagegridtitle {
    color: white;
    font-size: 2.604vw;
    text-align: center;
    padding: 1.042vw;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 10%;
}

.imagegridtexta {
    top: -9vw;
    left:vw;
}

.imagegridtextb {
    top: -9vw;
    left: vw;
}

.imagegridtextc {
    top: -9vw;
    left: vw;
}


.imagegridtexta imagegridtextb imagegridtextc imagegridtextd {
    position: relative;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.54vw;
    font-size: max(1.54vw, min(1vw));
    text-align: center;
    
}



.link1a linkb linkc linkd {
    transform: translateX(-50%); 
    padding: 0.521vw 0.781vw;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    text-decoration: none; 
    border-radius: 0.26vw; 
    transition: background-color 0.3s; 
}

.linka {
    position: absolute;
    top: 233%; 
    left: 10%;
}

.linkb {
    position: absolute;
    top: 233%; 
    left: 35%;
}

.linkc {
    position: absolute;
    top: 233%; 
    left: 61%;
}

.linkd {
    position: absolute;
    top: 233%; 
    left: 84%;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.9); 
}

/*------------------------PORTFOLIO------------------------*/

.portfoliotitle {
    color: white;
    font-size: 2.604vw;
    text-align: center;
    padding: 1.042vw;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 20vw;
}

.portfoliotexta {
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.54vw;
    position: absolute;
    top: 24vw;
    left: 33vw;
}

.portfoliotextb {
    position: absolute;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.54vw;
    text-align: center;
    top: 24vw;
    left: 58vw;
}

.portfoliotextc {
    position: absolute;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.54vw;
    text-align: center;
    top: 41vw;
    left: 33vw;
}

.portfoliotextd {
    position: absolute;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.54vw;
    text-align: center;
    top: 41vw;
    left: 59vw;
}

.portrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.208vw;
}

.portcol {
  flex: 24%;
  max-width: 25%;
  padding: 0 0.208vw;
}

.portcol img {
  margin-top: 0.417vw;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 41.667vw) {
  .portcol {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 31.25vw) {
  .portcol {
    flex: 100%;
    max-width: 100%;
  }
}

/*------------------------ABOUT US------------------------*/

.groupphoto {
    text-align: center;
}

.grouprow {
    display: flex;
    margin: 0 auto;
    margin-top: 10%;
}

.groupcol {
    width: 50%;
    height: auto;
    margin: 1.042vw;
}

.groupphotoimg {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.grouptitle {
    color: white;
    font-size: 1.563vwx;
    text-align: center;
    padding: 1.042vw;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/*------------------------CONTACT------------------------*/

.contacttitle {
    color: white;
    font-size: 1.563vw;
    text-align: center;
    padding: 1.042vw;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0 auto;
    margin-top: 10vw;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 0.625vw; 
  border: 0.052vw solid #ccc; 
  border-radius: 0.208vw;
  box-sizing: border-box; 
  margin-top: 0.313vw; 
  margin-bottom: 0.833vw; 
  resize: vertical 
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 0.625vw 1.042vw;
  border: none;
  border-radius: 0.208vw;
  cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.emailcontainer {
    display: block;
    margin: 0 auto;
    border-radius: 0.26vw;
    width: 50%;
    background-color: black;
    padding: 1.042vw;
    margin-bottom: 10%;
}

.nameemail {
    display: flex;
    margin: 0 auto;
    margin-top: 10%;
}

.double {
    width: 50%;
    height: auto;
    margin-right: 0.521vw;
}
